@import "settings";
@import "foundation";
@import "pygments/tomorrow";
@import "header";



div.eleven.columns {
  &::before {
    content: "";
    border-right: solid 1px rgb(197, 197, 197);
    height: 100%;
    position: absolute;
    left: -4.6%;
  }
}

.sidebar {
  background: white;
  padding: 20px;
  z-index: 2;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
}

pre{
  margin-bottom:17px;
  line-height: 17px;
}
