<header class='site-header'>
  <div class='row'>
    <div class='one columns sidebar'>

    </div>
    <div class="eleven columns">
      <h5>
        <a href="/"><span class='foo'>Foo</span><span class='berry'>berry</span></a>
      </h5>
      <h5 class='subheader'>Sweetness without context</h5>
    </div>
  </div>
</header>
