<header class='row'>
  <div class="twelve columns offset-by-one">
    <h2>
      <span class='foo'>Foo</span>
      <span class='berry'>berry</span>
    </h2>
    <h3 class='subheader'>Sweetness without context</h3>
  </div>
</header>
