
{% assign link_title = true %}
{% for post in paginator.posts %}
  {% include post_summary.liquid %}
{% endfor %}


<div class='eight columns offset-by-one'>
  {% include pagination.liquid %}
</div>

