article.post{
  margin-bottom:60px;
  header{
    border-width: 0px  0px 0px 0px;
    border-style: solid;
    border-color: lighten($bodyBackground,5%);
    padding-bottom: 0px;
    margin-bottom: 20px
  }
}

.meta{
  background-color: darken($bodyBackground, 3%);
  @include border-radius($usualRadius);
  font-size: 13px;
  line-height: 27px;
  height: 27px;
  padding: 0px 10px;
  margin: 5px 0px;
  .tags {

  }
}


li.post .link, .post-date, .tags {
  margin: 0px 10px;
}

.post-date{
  float: left;
}
.tags{
  float: left;
  i {
    display: inline-block;
  }
  .tag_box{
    list-style: none;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    li{
      display: inline-block;
      margin: 0px 2px;
      background-color: lighten($bodyBackground, 10%);
      @extend .label;
      @extend .label-info;
      a { color: $white }
      a:hover{ text-decoration:none; }
      span{ display: none; }
    }
  }
}
