.masthead {
  margin-top: 10px;
  .title{
    a{
      color: $accent-color;
      &:hover { text-decoration: none; }
    }
  }
  .title {
    font-size: 100px;
    line-height: 100px;
  }
  .tagline {
  }
}
