
pre {
  border-width:0px;
  @include box-shadow(lighten(black,10%) 4px 4px 15px 4px inset);
}
pre, code {
  background-color: darken($background-color, 3%);
  border: 1px lighten($background-color,10%) solid;
  color: $code-color;
}
pre {
  padding: 25px;
  border-width: 0px;
  code {
    font-size: 16px;
  }
}

code {
  border-width: 1px;
}

