.post header{
  border-width: 0px;
  padding-bottom: 0px;
}

.meta{

  background-color: darken($bodyBackground, 3%);
  @include border-radius($usualRadius);
  font-size: 13px;
  line-height: 27px;
  height: 27px;
  padding: 0px 10px;
  margin: 5px 0px;


  .date{
    float: left;
  }
  .tags{
    padding-left: 20px;
    float: left;
    position: relative;
    .tag_box{
      list-style: none;
      margin: 0px 0px 0px 15px;
      top: 0px;
      width: 500px;
      position: absolute;
      li{
        float: left;
        margin: 5px 2px;
        background-color: lighten($bodyBackground, 10%);
        @extend .label;
        @extend .label-info;
        a { color: $white }
        a:hover{ text-decoration:none; }
        span{ display: none; }
      }
    }
  }
}
