.highlight {
  pre {
    padding: 25px;
    border: lighten($background-color,10%) solid;
    border-width: 1px 0px;
  }
}

code {
  background-color: lighten($background-color, 5%);
  color: $code-color;
}
