// Syntax higlighting
pre {
  border: lighten($background-color,10%) solid;
  border-width: 1px 0px;
  @include border-radius(0px);
  code {
  }
}

code {
  background-color: lighten($background-color, 5%);
}
