.highlight {
  pre {
    padding: 213px;
    border: lighten($background-color,10%) solid;
    border-width: 1px 0px;
    @include border-radius($usualRadius);
  }
}

code {
  background-color: lighten($background-color, 5%);
  color: $code-color;
}
