{% include top.liquid %}

<article>
  <div class="row">
    <div class='one columns sidebar'>
      <span class='month'>{{ page.date | date: "%d" }}</span> <br/>
      <span class='day'>{{ page.date | date: "%b" }}</span> <br/>
      <span class='year'>{{ page.date | date: "%Y" }}</span>
    </div>
    <div class='eleven columns'>
      <div class='row'>
        <h2 class='twelve columns'>
          {{ page.title }}
        </h2>
      </div>
      <div class='row'>
        <div class='seven columns'>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>

{% include footer.liquid %}
